includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - hagakure.php
        - src/
    excludePaths:
        analyseAndScan:
            - src/Kunoichi/Hagakure/Command.php
